<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>horario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <a href="{{ url_for('medicos') }}" class="back-button">← Voltar</a>
        <h1>Marcar Horário </h1>

        <p> Selecione  um horário  para o Dr. Ricardo Alexandre Mendes: </p>


        <form action="/index.html" method="GET" >
        <div class="horarios">

        <label> 
            <input type="radio" name="horario" value=" Segunda-feira, 16:00 - 17:00" required >
            Segunda-feira, 16:00 - 17:00
        </label>
        
        <label> 
            <input type="radio" name="horario" value=" Terca-feira, 14:00 - 15:00" required >
            Terça-feira, 14:00 - 15:00
        </label>

         <label> 
            <input type="radio" name="horario" value=" Quarta-feira, 16:00 - 17:00" required >
            Quarta-feira, 16:00 - 17:00
        </label>
        </div>
       <button type="submit"> Confirmar Horário </button>
        </form>
</body>
</html>
