{% extends 'base.html' %}
{% block content %}
    <div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Sobre nossa Clínica</h1>
    <p>
        Este sistema de cadastro e agendamento de consultas foi desenvolvido pelos alunos Ana Beatriz Araújo, Nilo Gonçalves, Lara Marina Fernandes, Lorenzo Donato e Maria Carolina Vieira, do primeiro período de Ciências da Computação da Universidade Estadual da Paraíba (UEPB), turma 2024.2.
    </p>
    <p>
        O projeto oferece uma solução completa para a gestão de consultas, com as seguintes funcionalidades principais:
    </p>
    <ul>
        <li><strong>Cadastro de Pacientes:</strong> Permite o registro de dados pessoais dos pacientes de forma simples e eficiente.</li>
        <li><strong>Agendamento de Consultas:</strong> Facilita o agendamento de consultas médicas, otimizando o processo para usuários e profissionais de saúde.</li>
        <li><strong>Confirmação por E-mail:</strong> Após o agendamento, o paciente recebe uma confirmação via e-mail, garantindo que ele esteja ciente da data e horário marcados.</li>
        <li><strong>Gráfico de Consultas Semanais:</strong> Apresenta um gráfico com a quantidade de consultas agendadas por semana, ajudando a visualizar a demanda de forma prática.</li>
    </ul>
    <p>
        Esse sistema é uma ferramenta útil para clínicas e estabelecimentos de saúde, contribuindo para uma gestão mais organizada e eficiente do atendimento aos pacientes.
    </p>
    
    </div>

{% endblock %}