{% extends 'base.html' %}

{% block title %}Lista de Médicos{% endblock %}

{% block content %}
<br>
<a href="{{ url_for('core.index') }}" class="btn btn-secondary">← Voltar</a>

<div class="container my-5">
    <div class="bg-primary bg-opacity-10 border border-primary rounded-3 p-4">
        <h1 class="text-center">Lista de Médicos</h1>

        <table class="table table-dark table-striped mt-4">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Especialidade</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for medico in medicos %}
                <tr>
                    <td>{{ medico.nome }}</td>
                    <td>{{ medico.especialidade }}</td>
                    <td>
                        <a href="{{ url_for('users.agendar_consulta', medico_id=medico.id) }}">
                            <button class="btn btn-primary">Marcar Horário</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
