<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Médicos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <a href="{{ url_for('index') }}" class="back-button">← Voltar</a>
        <h1>Lista de Médicos</h1>

        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Especialidade</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dra. Marina Menezes</td>
                    <td>Pediatria</td>
                    <td><a href="{{ url_for('horario_medico1') }}"><button>Marcar Horário</button></a></td>
                </tr>
                <tr>
                    <td>Dr. Ricardo Alexandre Mendes</td>
                    <td>Oftalmologista</td>
                    <td><a href="{{ url_for('horario_medico2') }}"><button>Marcar Horário</button></a></td>
                </tr>
                <tr>
                    <td>Dra. Ana Silva</td>
                    <td>Ortopedista</td>
                    <td><a href="{{ url_for('horario_medico3') }}"><button>Marcar Horário</button></a></td>
                </tr>
                <tr>
                    <td>Dr. Jonatas Figueiredo</td>
                    <td>Dermatologista</td>
                    <td><a href="{{ url_for('horario_medico4') }}"><button>Marcar Horário</button></a></td>
                </tr>
                <tr>
                    <td>Dra. Leandra Ferreira</td>
                    <td>Cardiologista</td>
                    <td><a href="{{ url_for('horario_medico5') }}"><button>Marcar Horário</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
